<h1>Sign In</h1>
<%= form_tag sessions_url, :class => 'form-horizontal' do %>
  <%= label_tag :email %>
  <%= email_field_tag :email, params[:email] %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%# if @user.zone.present? == false %>
    <%= label_tag :zone, "time zone:" %>
    <%= select_tag :zone, options_from_collection_for_select(Zone.all, :name, :name) %>
  <%# end %>

  <%= submit_tag "Sign In", :class => 'btn btn-success' %>
<% end %>
<h3><%= link_to 'Become a User', new_user_path %></h3>

