<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.admin = true %>
  <p>
    <strong>Admin</strong>
  </p>
<% end %>

<p>
  <strong>Location:</strong>
  <%= @user.location_id %>
</p>

<p>
  <strong>events:</strong>
  <ul>
  <% @events.each do |event| %>
    <li> event: <%= event.name %> starts at <%= event.start_time.strftime("%I:%M%P on %A, %e %B") %></li>

  <% end %>
  </ul>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
