<p id="notice"><%= notice %></p>
<p>
  <strong>event:</strong>
  <%= @response.event.name %>
</p>
<p>
  <strong>host:</strong>
  <%= @response.event.host.name %>
</p>
<p>
  <% if @response.atending == true%>
    <strong>Im Atending!!</strong>

    <p>
      <strong>Arivle time:</strong>
      <%= @response.arivle_time.strftime("%B %d, %Y at %I:%M%P") %>
    </p>
    <p>
      <strong>Deparcher time:</strong>
      <%= @response.deparcher_time.strftime("%B %d, %Y at %I:%M%P") %>
    </p>

  <% elsif @response.atending == false %>
    <strong>Im not atending :(</strong>
  <% else %>
    <strong>are you going to atend?</strong>
    <%= render 'form' %>
  <% end %>

</p>



<p>
  <strong>User:</strong>
  <%= @response.user_id %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
